<div class="sidebar" data-color="yellow">
    <!--
    Tip 1: You can change the color of the sidebar using: data-color="blue | green | orange | red | yellow"
-->
    <div class="logo">
        <a href="/drive/<%- username-%>" class="simple-text logo-normal">
            <i class="fas fa-alicorn"></i>
            File Manager
        </a>
    </div>
    <div class="sidebar-wrapper" id="sidebar-wrapper">
        <ul class="nav">
            <li class="user-profile">
                <a href="/user/profile/<%- username %>">
                    <i class="now-ui-icons users_single-02"></i>
                    <p>User Profile</p>
                </a>
            </li>

            <li class="file-manager">
                <a href="/drive/<%- username-%>">
                    <i class="fas fa-server"></i>
                    <p>File Manager</p>
                </a>
            </li>

            <li class="shared-file">
                <a href="/drive/<%-username %>/shared_files">
                    <i class="fab fa-slideshare"></i>
                    <p>Shared Files</p>
                </a>
            </li>

            <li class="shared-with-me">
                <a href="/drive/<%-username %>/shared_with_me">
                    <i class="fab fa-slideshare"></i>
                    <p>Shared With Me</p>
                </a>
            </li>

            <li class="s3-upload">
                <a href="/S3/">
                    <i class="fab fa-aws"></i>
                    <p>S3 Upload</p>
                </a>
            </li>

            <li class="tus-upload">
                <a href="/tus/">
                    <i class="fab fa-aws"></i>
                    <p>Tus Upload</p>
                </a>
            </li>

            <li class="video-stream">
                <a href="/video/">
                    <i class="fas fa-stream"></i>
                    <p>Video Stream</p>
                </a>
            </li>
        </ul>
    </div>
</div>

<script>
    $(function () {
        let active = "<%- active %>";
        $("." + active).addClass("active");
    });
</script>