<!-- Fine Uploader DOM Element
====================================================================== -->
<div id="fine-uploader-manual-trigger"></div>

<!-- Fine Uploader Thumbnails template w/ customization
====================================================================== -->
<%- include('templates/simple-thumbnails.html'); %>

<!-- Your code to create an instance of Fine Uploader and bind to the DOM/template
====================================================================== -->
<script>
    var manualUploader = new qq.FineUploader({
        element: document.getElementById('fine-uploader-manual-trigger'),
        template: 'qq-template-manual-trigger',

        request: {
            endpoint: '/files/<%-username%>/upload',
        },
        debug: true,
        autoUpload: false,

        thumbnails: {
            placeholders: {
                waitingPath: '/placeholders/waiting-generic.png',
                notAvailablePath: '/placeholders/not_available-generic.png'
            },
        },

        maxConnections: 2,

        // Upload Parallel
        chunking: {
            concurrent: {
                enabled: true, 
            },
            enabled: true,
        },

        deleteFile: {
            enabled: true,
            forceConfirm: true,
            endpoint: '/files/<%-username%>/delete',
        },

        resume: {
            enabled: true,
            recordsExpireIn: 1
        },

        retry: {
            enableAuto: false,
            showButton: true
        },

        cors: {
            enabled: true
        },

        callbacks: {
            onCancel: function(id, filename) {
                var xhr = new XMLHttpRequest();
                xhr.open('DELETE', '/files/<%-username%>/cancel', true);
                xhr.setRequestHeader("Content-Type", "application/x-www-form-urlencoded");
                xhr.send(this.getUuid(id));

                return true;
            },

            onAllComplete: function(successedIds, failedIds) {
                var xhr = new XMLHttpRequest();
                xhr.open('HEAD', '/files/<%-username%>/success');
                xhr.setRequestHeader("OK", 1);
                xhr.send();
                console.log('AllComplete');
            }
        }
    });

    qq(document.getElementById("trigger-upload")).attach("click", function() {
        manualUploader.uploadStoredFiles();
    });

</script>