<!-- File Exploer-->
<div class="col-md-12">
    <div class="card">
        <div class="card-header">
            <h4 class="card-title"> Index of <b><%- username %></b></h4>
        </div>
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-sm">
                    <thead class=" text-primary">
                        <th class="text-center">
                        #
                        </th>
                        <th style="width: 20%">
                        Name
                        </th>
                        <th>
                        Size
                        </th>
                        <th>
                        Mimetype
                        </th>
                        <th>
                        Last Modified
                        </th>
                        <th class="text-center">
                        Actions
                        </th>
                    </thead>
                    <tbody>
                        <% let id = 1; %>
                        <% data.forEach(function(file) { %>
                            <tr>
                                <td><%- id++ %></td>
                                <td><%- file.Key %></td>
                                <td><%- prettySize(file.Size) %></td>
                                <td><%- file.StorageClass %></td>
                                <td><%- file.LastModified %></td>
                                <td class="text-center">
                                    <button type="button" class="btn btn-default btn-fab btn-round btn-icon btn-delete" data-key="<%- file.Key %>" data-toggle="tooltip" title="Delete"> 
                                        <i class="fas fa-trash"></i>
                                    </button>
                                </td>
                            </tr>
                        <% }); %>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

<script>
    $(function() {
        $(".btn-delete").on('click', function(event) {
            let self = $(this);

            let data = {
                Key: self.attr('data-key')
            };

            $.post('/S3/delete', data, function(data, status, xhr) {
                window.location = '/S3';
            });
        });
    });
</script>
